.container {
  max-width: 800px;
  margin: auto 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.socialIcons {
  display: flex;
  gap: 16px;

  & svg {
    height: 24px;
    width: 24px;
  }

  & a:visited,
  a:link {
    color: var(--gray);
  }

  & a:hover {
    color: var(--light-gray);
  }
}

.description {
  max-width: 400px;
  text-align: right;
}

.about {
  margin-bottom: 32px;
  line-height: 1.8;
}

.title {
  margin-bottom: 16px;
  line-height: 1.2;
  font-size: 24px;
}

.skills {
  & h2 {
    margin-bottom: 16px;
    font-size: 24px;
  }

  & li {
    margin-bottom: 8px;
  }
}

.verticalBar {
  width: 8px;
  height: 640px;
  background-color: var(--gray);
}

.projects {
  width: 400px;

  & h2 {
    margin-bottom: 16px;
    font-size: 24px;
  }

  & li {
    margin-bottom: 12px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
}
