.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.description {
  max-width: 400px;
  text-align: right;
}

.verticalBar {
  width: 8px;
  height: 640px;
  background-color: var(--secondary-color);
}

.projects {
  margin-right: 180px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}
